.edit-comment-form > div {
    margin: auto;
}

.stupid-line {
    width: 70%;
}

.action-buttons {
    margin-bottom: 1em;
}

.comment-text {
    padding-top: 7px;
    min-height: 60px;
    font-size: 1.2em;
}